@import "tailwindcss";

@theme {
  /* Base colors */
  --color-background: hsl(205 100% 5%);
  --color-text: hsl(0 0% 100%);

  /* Brand colors */
  --color-brand-lime: hsl(62 85% 69%);
  --color-brand-lavender: hsl(242 85% 88%);
  --color-brand-beige: hsl(63 41% 83%);
  --color-brand-powder: hsl(60 24% 96%);
  --color-brand-giants: hsl(13 90% 58%);
  --color-brand-glacier: hsl(194 97% 83%);
}

:root {
  /*  Linear Gradient   */
  --border-linear-gradient: linear-gradient(
    97.35deg,
    #c8c6fa 19.5%,
    #aaeafe 80.53%,
    #eef36b 94.87%
  );
}

body {
  color: var(--color-text);
  background: var(--color-background);
}

@layer components {
  .border-linear-gradient {
    background:
      linear-gradient(var(--color-background), var(--color-background))
        padding-box,
      var(--border-linear-gradient) border-box;
    border: 2px solid transparent;
  }
}
